#sidebar{
    display: grid;
    width: 25%;
    height: 350px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-row-gap: 2%;


}

.sidebar__parts{
    background-color: #405c69;
    display: grid;
    grid-template-columns: 20% 70% 10%;
}

.sidebar__parts:hover{
    height: 150px;
}

#sidebar__battery{
    grid-row: 1;
}

#sidebar__pcb{
    grid-row: 2;
}

#sidebar__solarPanel{
    grid-row: 3;
}

#sidebar__led{
    grid-row: 4;
}

.sidebar__parts--txt{
    color: white;
    grid-column: 2;
}

.sidebar__parts--icon{
    grid-column: 1;
}

.sidebar__parts--arrow{
    grid-column: 3;
}

