/*------------------------------------------------------------------

[Table of contents] 

1. Root / Colors / Variables
2. Typography
3. General Styles
4. Layouts
5. Header / Navigation
7. Menu
8. Reviews
X. Media Queries

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[0. Imports, dependencies]
------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--color-primary: #405c6a;
	--color-secondary: #9fd18b;
	--color-tertiary: #fff;

	font-size: 62.5%; /* 1rem = 10px */
}

/*------------------------------------------------------------------
[2. Typography]
------------------------------------------------------------------*/
body {
	font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------------------------
[3. General Styles]
------------------------------------------------------------------*/
h1 {
	font-size: 3.6rem;
	margin: 0;
}

h2 {
	font-size: 2.4rem;
	margin: 0;
}

h3 {
	font-size: 1.8rem;
	margin: 0;
}

p {
	font-size: 1.2rem;
	margin: 0;
}

main {
	height: 80vh;
}

body {
	margin: 0;
	padding: 0;
}

/*------------------------------------------------------------------
[3.1 Helpers ]
------------------------------------------------------------------*/
.open {
	display: flex !important;
}

.close {
	display: none !important;
}

/*------------------------------------------------------------------
[5. Header / Navigation]
------------------------------------------------------------------*/
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 2rem;
	background-color: var(--color-primary);
}

.nav__logo h1 a {
	color: var(--color-secondary);
	text-decoration: none;
}

.nav__links {
	display: flex;
	list-style-type: none;
	font-size: 2rem;

	margin: 0;
}

.nav__links a {
	color: var(--color-tertiary);
	text-decoration: none;
	margin-left: 2rem;
}

.nav__hamburger {
	display: none;
}

.nav__exit {
	display: none;
}

/*------------------------------------------------------------------
[X. Media Queries]
------------------------------------------------------------------*/
@media only screen and (max-width: 630px) {
	.nav__hamburger {
		display: block;
		font-size: 2.5rem;
		color: var(--color-tertiary);

		cursor: pointer;
		z-index: 2;
	}

	.nav__links {
		display: none;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;

		font-size: 5rem;

		position: fixed;
		top: 0;
		left: 0;

		height: 100vh;
		width: 100%;

		background-color: var(--color-primary);
		margin: 0;
		padding: 0;
	}
}
