/*------------------------------------------------------------------

[Table of contents] 

1. Root / Colors / Variables
2. Typography
3. General Styles
4. Layouts
5. Header / Navigation
6. Footer
7. Buttons
8. Reviews
X. Media Queries

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[0. Imports, dependencies]
------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--color-primary: #405c6a;
	--color-secondary: #9fd18b;
	--color-tertiary: #fff;
	--color-four: #94c5bb;
	--color-error: #d18b8b;

	font-size: 62.5%; /* 1rem = 10px */
}

/*------------------------------------------------------------------
[2. Typography]
------------------------------------------------------------------*/
body {
	font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------------------------
[3. General Styles]
------------------------------------------------------------------*/
h1 {
	font-size: 3.6rem;
	margin: 0;
}

h2 {
	font-size: 2.4rem;
	margin: 0;
}

h3 {
	font-size: 1.8rem;
	margin: 0;
}

p {
	font-size: 1.2rem;
	margin: 0;
}

main {
	height: calc(100vh - 113px - 0.7rem - 0.7rem);
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*------------------------------------------------------------------
[3.1 Helpers ]
------------------------------------------------------------------*/
.open {
	display: flex !important;
}

.close {
	display: none !important;
}

.show {
	display: block;
}

.flip {
	transform: rotate(180deg);
}

/*------------------------------------------------------------------
[4. Layout ]
------------------------------------------------------------------*/
main {
	padding: 0.7rem 2rem; /* Main container */
}
/*------------------------------------------------------------------
[5. Header / Navigation]
------------------------------------------------------------------*/
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 2rem;
	background-color: var(--color-primary);
}

.nav__logo h1 a {
	color: var(--color-secondary);
	text-decoration: none;
}

.nav__links {
	display: flex;
	list-style-type: none;
	font-size: 2rem;

	margin: 0;
}

.nav__links a {
	color: var(--color-tertiary);
	text-decoration: none;
	margin-left: 2rem;
}

.nav__hamburger {
	display: none;
}

.nav__exit {
	display: none;
}

/*------------------------------------------------------------------
[6. Footer]
------------------------------------------------------------------*/
footer {
	background-color: var(--color-primary);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-four);
}

/*------------------------------------------------------------------
[7. Buttons]
------------------------------------------------------------------*/

.btn {
	border-radius: 50px;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-weight: 600;
}

.btn:focus {
	outline: none;
}

.btn--medium {
	padding: 1rem 2rem;
}

.btn--primary {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
}

.btn--primary:hover,
.btn--primary:focus {
	background-color: var(--color-primary);
	filter: brightness(1.2);
}

.btn--success {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

.btn--success:hover,
.btn--success:focus {
	background-color: var(--color-secondary);
	filter: brightness(1.2);
}

.btn--error {
	background-color: var(--color-error);
	color: var(--color-tertiary);
}

.btn--error:hover,
.btn--error:focus {
	background-color: var(--color-error);
	filter: brightness(1.2);
}

/*------------------------------------------------------------------
[X. Media Queries]
------------------------------------------------------------------*/
@media only screen and (max-width: 630px) {
	.nav__hamburger {
		display: block;
		font-size: 2.5rem;
		color: var(--color-tertiary);

		cursor: pointer;
		z-index: 2;
	}

	.nav__links {
		display: none;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;

		font-size: 5rem;

		position: fixed;
		top: 0;
		left: 0;

		height: 100vh;
		width: 100%;

		background-color: var(--color-primary);
		margin: 0;
		padding: 0;
	}
}
