#container {
    padding: 10px;
    margin-left: 600px;
}

#playButtons {
    padding: 10px;
    border: 1px solid gray;
    width: 100%;
    margin-bottom: 10px;
}

#container__video {
    width: 100%;
}

#container__vidNum {
    float: right;
}

button {
    padding: 10px;
    width: 20%;
    margin: 10px;
}