body {
    margin: auto;
    padding: auto;
}

#container {
    margin-left: 80rem;
    width: 35rem;
}

#container__video {
    margin: 2rem;
}

#playButtons {
    padding: 1.5rem;
    border: 1px solid gray;
    border-style: hidden;
    width: 100%;
}

#container__video {
    width: 100%;
}

#container__vidNum {
    float: right;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    width: 35rem;
    border-radius: 1rem;
    background-color: #405c6a;
    cursor: pointer;
}